/* .container {
    width: 100%;
    margin: 20 auto;
} */

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'left main main main main right' 'left footer footer footer footer right';
    grid-template-columns: 20% auto auto auto auto 20%;
    grid-gap: 10px;
}

.searchsum {
    margin: 50px 15px;
    display: flex;
    justify-self: end;
    align-items: center;
    color: white;
}

.link_bar {
    display: flex;
    position: absolute;
    bottom: 0px;
    margin: 15px;
}

.link_bar>div {
    display: inline-block;
}

.header {
    grid-area: header;
    position: relative;
    justify-self: center;
    height: 150px;
    width: 100%;
    text-align: center;
    background-image: url(https://wallpapermemory.com/uploads/570/jinx-league-of-legends-wallpaper-hd-2560x1440-171161.jpg);
    background-position-y: 0;
    background-size: 100% 285%;
}

.left {
    grid-area: left;
}

.snaptarget {
    height: 120px;
    width: 120px;
    background-color: rgba(100, 100, 100, 0.575);
    margin: 10px;
}

.emptybox {
    display: none;
    height: 5rem;
    width: 5rem;
    background-color: rgba(58, 58, 58, 0.575);
    margin: 10px;
}

.hidden {
    display: none;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.summoner {
    display: grid;
    grid-template-areas: 'icon name name name name' 'level level level level level' 'matchhistory matchhistory matchhistory matchhistory matchhistory';
}

.summoner__icon {
    grid: icon;
    width: 125px;
    height: 125px;
    margin: 30px;
}

.summoner__level {
    grid-area: level;
    margin: 20px;
}

.summoner__name {
    grid-area: name;
    display: flex;
    justify-self: left;
    align-self: center;
}

.matchhistory {
    display: grid;
    grid-area: matchhistory;
}

.matchhistory__match {
    display: grid;
    grid-template-areas: 'win_time matchhistory_img matchhistory_data matchhistory_teama matchhistory_teamb';
    grid-template-columns: 3rem 8rem 6rem auto auto auto 20%;
    max-width: 100%;
    margin: 3px 10px;
    border: 1px solid #365967;
}

.matchhistory_img {
    grid-area: matchhistory_img;
    display: grid;
    grid-auto-columns: auto auto;
    grid-auto-rows: auto auto;
    grid-template-areas: 'imgChamp imgSum' 'imgName imgSum';
    max-width: fit-content;
    margin: 3px;
}

.matchhistory__summoner_img {
    grid-area: imgSum;
    width: 1.7rem;
    height: 1.7rem;
    position: relative;
    border: 2px solid #365967;
}

.matchhistory__summoner_second {
    top: 2rem;
}

.matchhistory__champion_img {
    grid-area: imgChamp;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

.champion__name {
    grid-area: imgName;
    margin: 0 auto;
}

.matchhistory_data {
    grid-area: matchhistory_data;
    text-align: center;
    display: grid;
}

.matchhistory_win_time {
    display: grid;
    grid-area: win_time;
    text-align: center;
}

/* .champion_container {
    display: flex;
    justify-content: center;
} */

.champion {
    margin: 10px;
}

.champion__img {
    display: block;
    margin: 0 auto;
}

.main {
    grid-area: main;
    background: linear-gradient( 0deg,#365967, #8EC0D3);
    border-radius: 5px;
    overflow-y: scroll;
    height: 700px;
}

.main__header {
    margin: 35px;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    background-color: #3498DB;
}

::-webkit-scrollbar {
    display: none;
}

.champion__grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    color: black;
    font-size: 1rem;
    margin: 0px auto;
    /* width: 64%; */
    width: 500px;
}

.champion__img {
    width: 5rem;
    height: 5rem;
}

.matchhistory__text {
    color: white;
}

.matchhistory__text__small {
    font-size: 0.7rem
}

.__remake {
    background-color: #365967;
}